<div class="popup-panel"></div>
<svg class="svg-loader-fixed" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 100" enable-background="new 0 0 0 0"
    xml:space="preserve">
    <circle fill="#ffdfab" stroke="none" cx="6" cy="50" r="0">
        <animate attributeName="r" dur="1s" values="5;10;5" repeatCount="indefinite" begin="0.1"></animate>
        <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1"></animate>
    </circle>
    <circle fill="#ffdfab" stroke="none" cx="36" cy="50" r="0">
        <animate attributeName="r" dur="1s" values="5;10;5" repeatCount="indefinite" begin="0.2"></animate>
        <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2"></animate>
    </circle>
    <circle fill="#ffdfab" stroke="none" cx="66" cy="50" r="0">
        <animate attributeName="r" dur="1s" values="5;10;5" repeatCount="indefinite" begin="0.3"></animate>
        <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3"></animate>
    </circle>
</svg>