<div class="nav-header">
    <img src="assets/img/Australia cambodia education academy-White-02.png" class="nav-logo">
    <div class="contact-box fs-08">
        <div><i class="fas fa-map-marked-alt mg-r-1"></i>Address: #658, Tonle Sap Street, Chroy Changvar, Phnom Penh, Cambodia</div>
        <div><i class="fas fa-globe mg-r-1"></i>Website: <a href="http://ace-academycambodia.com" target="_blank">www.ace-academycambodia.com</a></div>
        <div><i class="fas fa-envelope mg-r-1"></i>E-mail: <a href="mailto:info@ace-academycambodia.com">info@ace-academycambodia.com</a></div>
        <div><i class="fab fa-facebook mg-r-1"></i>Facebook Page: <a href="https://www.facebook.com/ace.academy.kh" target="_blank">www.facebook.com/ace.academy.kh</a></div>
        <div><i class="fas fa-phone-alt mg-r-1"></i>Tel: (855) 78 811 033 / (855) 10 811 033</div>
    </div>
    <div class="clr-flt"></div>
    <div class="header-title">Student Information</div>
</div>