<div class="popup-panel" *ngIf="show"></div>
<div class="popup-box" *ngIf="show">
    <div class="popup-body">
        <div class="popup-title">{{msg.title}}</div>
        <div>{{msg.msg}}</div>
    </div>
    <div class="popup-footer fs-09">
        <button type="button" class="popup-btn-block popup-btn-no" (click)="setShow(false)">Cancel</button>
        <input type="button" class="popup-btn-block popup-btn-yes" [value]="confirm.text"
            [class.btn-warn]="confirm.status == 'warn'" (click)="onConfirm()" />
    </div>
</div>